<?xml version="1.0" encoding="utf-8"?>
<configdata>
	<tpl>
		<files public_path="/asset/admin">
			<css>reset.css</css>
			<css>style.css</css>
			<css>iframe.css</css>
			<css>jquery-ui-1.8.20.custom.css</css>
			<js>library.js</js>
			<image>logo.png</image>
			<image>fieldsBg.png</image>
			<image>btnOrange_small.png</image>
			<image>btnOrange_bigMini.png</image>
			<image>btnBlack_small.png</image>
			<image>lineTopbg.png</image>
			<image>iframe_contentBg.png</image>
			<image>iframe_logo.png</image>
			<image>treeStructure/line.png</image>
			<image>treeStructure/titleBg.png</image>
			<image>treeStructure/plus.png</image>
			<image>treeStructure/minus.png</image>
			<image>treeStructure/null.png</image>
			<image>treeStructure/itemFolder.png</image>
			<image>treeStructure/itemFolderDisabled.png</image>
			<image>treeStructure/pathFolder.png</image>
			<image>treeStructure/pathFolderDisabled.png</image>
		</files>
	</tpl>
</configdata>