/* Global reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}body{line-height:1;color:#000;background:#fff}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}

/* Floats */
.fLeft			{ float: left; }
.fRight			{ float: right; }
.clear			{ clear: both; overflow:hidden; }

/* Positions */
.aLeft      	{ text-align: left; }
.aRight     	{ text-align: right; }
.aCenter    	{ text-align: center; }
.aJustify		{ text-align: justify; }
.vTop				{ vertical-align: top; }
.vMiddle			{ vertical-align: middle; }

/* links */
a { text-decoration: none; outline: none; cursor: pointer; }
a:hover { text-decoration: none; }
.pointer { cursor:pointer; }
.abs { position:absolute;top:auto;left:auto;right:auto;bottom:auto; }

/* other */
.bold {font-weight:bold !important;}
.hidden {display:none;}

/* opacity */
.opacity10 {opacity: .10;filter:Alpha(Opacity=10);}
.opacity20 {opacity: .20;filter:Alpha(Opacity=20);}
.opacity30 {opacity: .30;filter:Alpha(Opacity=30);}
.opacity40 {opacity: .40;filter:Alpha(Opacity=40);}
.opacity50 {opacity: .50;filter:Alpha(Opacity=50);}
.opacity60 {opacity: .60;filter:Alpha(Opacity=60);}
.opacity70 {opacity: .70;filter:Alpha(Opacity=70);}
.opacity80 {opacity: .80;filter:Alpha(Opacity=80);}
.opacity90 {opacity: .90;filter:Alpha(Opacity=90);}
.opacity100 {opacity: .100;filter:Alpha(Opacity=100);}

/* width: */
.w25 {width: 25px !important;}
.w50 {width: 50px !important;}
.w75 {width: 75px !important;}
.w100 {width: 100px !important;}
.w125 {width: 125px !important;}
.w150 {width: 150px !important;}
.w175 {width: 175px !important;}
.w200 {width: 200px !important;}
.w225 {width: 225px !important;}
.w250 {width: 250px !important;}
.w275 {width: 275px !important;}
.w290 {width: 290px !important;}
.w300 {width: 300px !important;}
.w325 {width: 325px !important;}
.w350 {width: 350px !important;}
.w375 {width: 375px !important;}
.w400 {width: 400px !important;}

/* height */
.h25 {height: 25px !important;}
.h50 {height: 50px !important;}
.h75 {height: 75px !important;}
.h100 {height: 100px !important;}
.h125 {height: 125px !important;}
.h150 {height: 150px !important;}
.h175 {height: 175px !important;}
.h200 {height: 200px !important;}
.h225 {height: 225px !important;}
.h250 {height: 250px !important;}
.h275 {height: 275px !important;}
.h300 {height: 300px !important;}


.corner16-all { -moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px; }
.mt16 {margin-top:16px !important;}
.mt12 {margin-top:12px !important;}
.mt10 {margin-top:10px !important;}
.mt8 {margin-top:8px !important;}
.mt4 {margin-top:4px !important;}
.mt2 {margin-top:2px !important;}
.mt1 {margin-top:1px !important;}
.mt0 {margin-top:0px !important;}

.mb32 {margin-bottom:32px;}
.mb16 {margin-bottom:16px;}
.mb12 {margin-bottom:12px;}
.mb10 {margin-bottom:10px;}
.mb8 {margin-bottom:8px !important;}
.mb4 {margin-bottom:4px !important;}
.mb5 {margin-bottom:5px !important;}
.mb2 {margin-bottom:2px !important;}
.mb1 {margin-bottom:1px !important;}
.mb0 {margin-bottom:0px !important;}

.mr32 {margin-right:32px !important;}
.mr16 {margin-right:16px !important;}
.mr12 {margin-right:12px !important;}
.mr10 {margin-right:10px !important;}
.mr8 {margin-right:8px !important;}
.mr6 {margin-right:6px !important;}
.mr4 {margin-right:4px !important;}
.mr5 {margin-right:5px !important;}
.mr2 {margin-right:2px !important;}
.mr1 {margin-right:1px !important;}
.mr0 {margin-right:0px !important;}

.ml16 {margin-left:16px !important;}
.ml12 {margin-left:12px !important;}
.ml10 {margin-left:10px !important;}
.ml8 {margin-left:8px !important;}
.ml6 {margin-left:6px !important;}
.ml5 {margin-left:5px !important;}
.ml4 {margin-left:4px !important;}
.ml2 {margin-left:2px !important;}
.ml1 {margin-left:1px !important;}
.ml0 {margin-left:0px !important;}

.h16 {height:16px;}
.h12 {height:12px;}
.h8 {height:8px;}
.h4 {height:4px;}
.h1 {height:1px;}
.h0 {height:0px;}

.dNone {display:none;}
