body {
	font: 12px/12px Tahoma;
	min-width:990px;
	background: none;
}
.iframe {
	border: 0 none;
    height: 100%;
    width: 100%;
    display:block;
    background-color: transparent;
}
.centerElements {visibility:hidden;}
*.error {clear:both;color:red;font:10px/11px Tahoma;}
hr {margin-bottom:12px;}
img.border {border:1px solid #000000;}


/*********************************************************************************************************
*** Layoyt
*********************************************************************************************************/
#container {width:100%;}
#container>#top {height:200px;padding:10px 60px;background-color:#000000;}
#container>#top>.left {float:left; width:270px;}
#container>#top>.left>.cLanguage {margin:10px 0 0;}
#container>#top>.middle {float:left; width:166px;margin:20px 14px 0 0;}
#container>#top>.right {overflow:hidden;}
#container>#tab {height:34px;overflow:hidden;}
#container>#middle {margin:12px 0 12px 0;}
#container>#middle>.left {float:left;width:270px;margin:0 12px;}
#container>#middle>.left>.module_title {height:34px;color:#ffffff;text-align:right;text-transform:uppercase;font: bold 14px/34px Tahoma;}
#container>#middle>.left>.container {margin-top:12px;}
#container>#middle>.right {overflow:hidden; margin-right:10px;}
#container>#middle.tab {margin:0 0 12px 0;background: url('../image/lineTopbg.png') repeat-x left top;}
#container>#middle.tab>.left {}
#container>#bottom {}



/*********************************************************************************************************
*** Section Style
*********************************************************************************************************/
div.section_box {overflow:hidden;margin:0 0 12px;}
div.section_box>h2 {margin:0 0 16px;padding:2px 5px;color:#ffffff;background-color:#575757;font:bold 12px/18px Tahoma;}
div.section_box>div {margin:0 5px;color:#4B4B4B;}
div.section_box>div>p {font:normal 12px/18px Tahoma;}
div.section_box>div .buttons {margin:24px 0 0 0;}


/*********************************************************************************************************
*** Buttons
*********************************************************************************************************/
.buttons {text-align:center;overflow:hidden;margin:0 0 12px;}
*.btnSmall {cursor:pointer; float:left; display:block; width:98px; height:23px; margin-right:16px; border:0 none; text-align:center; font:11px/22px Tahoma; color:#ffffff;}
*.btnSmall:hover {color:#ffffff !important;}
*.btnSmall.orange {color:#ffffff;background: url('../image/btnOrange_small.png') no-repeat left top;}
*.btnSmall.black {color:#ffffff;background: url('../image/btnBlack_small.png') no-repeat left top;}
*.btnSmall.last {margin-right:0;}
*.btnMiddle {cursor:pointer; float:left; display:block; width:150px; height:23px; margin-right:16px; border:0 none; text-align:center; font:11px/22px Tahoma; color:#ffffff;}
*.btnMiddle:hover {color:#ffffff !important;}
*.btnMiddle.orange {color:#ffffff;background: url('../image/btnOrange_middle.png') no-repeat left top;}
*.btnBig {cursor:pointer; float:left; display:block; width:200px; height:23px; margin-right:16px; border:0 none; text-align:center; font:11px/22px Tahoma; color:#ffffff;}
*.btnBig:hover {color:#ffffff !important;}
*.btnBig.orange {color:#ffffff;background: url('../image/btnOrange_middle.png') no-repeat left top;}

*.btnBigMini {cursor:pointer; float:left; display:block; width:164px; height:49px; margin-right:16px; border:0 none; text-align:center; font:bold 18px/49px Tahoma; color:#ffffff; text-transform:uppercase;}
*.btnBigMini:hover {color:#ffffff !important;}
*.btnBigMini.orange {color:#ffffff;background: url('../image/btnOrange_bigMini.png') no-repeat left top;}

.buttons.rename {float:left; text-align:center; overflow:hidden; margin:9px 0 0 0;}
.buttons.rename>.btnSmall {margin:0 0 0 8px;}
.buttons.rename>.btnSmall.last {margin:0;}

.btnPlay {width:78px;height:78px;background: url('../image/btnPlay.png') no-repeat left top;cursor:pointer;}
.btnPlay:hover {background: url('../image/btnPlay.png') no-repeat -78px top;}


/*********************************************************************************************************
*** System messages
*********************************************************************************************************/
ul.system_messages {overflow:hidden;margin:12px 52px 6px 52px;}
ul.system_messages>li {overflow:hidden;position:relative;margin:6px 0;}
ul.system_messages>li>.icon {position:absolute;display:block;top:0px;left:0px;}
ul.system_messages>li>.btnClose {position:absolute;display:block;width:7px;height:7px;top:20px;right:15px;background: transparent url('../image/messageBtnClose.png') no-repeat right top;}
ul.system_messages>li>.top {height:18px;padding-left:55px;}
ul.system_messages>li>.top>span {display:block;height:100%;background: transparent url('../image/messagesRight.png') no-repeat right top;}
ul.system_messages>li>.middle {padding-left:55px;}
ul.system_messages>li>.middle>span {display:block;height:100%;padding:0 41px 0 13px;font:normal 12px/14px Tahoma;color:#ffffff;background: transparent url('../image/messagesRightY.png') repeat-y right top;}
ul.system_messages>li>.bottom {height:18px;padding-left:55px;}
ul.system_messages>li>.bottom>span {display:block;height:100%;background: transparent url('../image/messagesRight.png') no-repeat right -18px;}

ul.system_messages>li.ok>.top {background: transparent url('../image/messagesLeft.png') no-repeat left top;}
ul.system_messages>li.ok>.middle {background: transparent url('../image/messagesLeftOkY.png') repeat-y left top;}
ul.system_messages>li.ok>.bottom {background: transparent url('../image/messagesLeft.png') no-repeat left -18px;}
ul.system_messages>li.ok>.icon {width:24px;height:23px;top:13px;left:15px;background: transparent url('../image/messagesIcoOk.png') no-repeat left top;}
ul.system_messages>li.warning>.top {background: transparent url('../image/messagesLeft.png') no-repeat left -36px;}
ul.system_messages>li.warning>.middle {background: transparent url('../image/messageLeftWarningY.png') repeat-y left top;}
ul.system_messages>li.warning>.bottom {background: transparent url('../image/messagesLeft.png') no-repeat left -54px;}
ul.system_messages>li.warning>.icon {width:4px;height:24px;top:11px;left:25px;background: transparent url('../image/messagesIcoWarning.png') no-repeat left top;}
ul.system_messages>li.error>.top {background: transparent url('../image/messagesLeft.png') no-repeat left -72px;}
ul.system_messages>li.error>.middle {background: transparent url('../image/messageLeftErrorY.png') repeat-y left top;}
ul.system_messages>li.error>.bottom {background: transparent url('../image/messagesLeft.png') no-repeat left -90px;}
ul.system_messages>li.error>.icon {width:18px;height:16px;top:18px;left:18px;background: transparent url('../image/messagesIcoError.png') no-repeat left top;}
ul.system_messages>li.info>.top {background: transparent url('../image/messagesLeft.png') no-repeat left -108px;}
ul.system_messages>li.info>.middle {background: transparent url('../image/messageLeftInfoY.png') repeat-y left top;}
ul.system_messages>li.info>.bottom {background: transparent url('../image/messagesLeft.png') no-repeat left -126px;}
ul.system_messages>li.info>.icon {width:8px;height:20px;top:14px;left:24px;background: transparent url('../image/messagesIcoInfo.png') no-repeat left top;}


/*********************************************************************************************************
*** List - Master
*********************************************************************************************************/
.masterList {overflow:hidden;margin-top:12px;}
.masterList>p {line-height:24px;}
.masterList>ul {width:100%;display:block;overflow:hidden;position:relative;}
.masterList ul>li.header {float:left;width:100%;height:71px;position:relative;}
.masterList ul>li.header>.line {width:14px;height:71px;float:left;background: url('../image/master_list/line.png') no-repeat left top;}
.masterList ul>li.header>.more {width:14px;height:71px;float:left;background: url('../image/master_list/more.png') no-repeat left top;}
.masterList ul>li.header>.last {width:14px;height:71px;float:left;background: url('../image/master_list/last.png') no-repeat left top;}
.masterList ul>li.header>.blank {width:14px;height:71px;float:left;}
.masterList ul>li.header>.belka {height:66px;margin-top:5px;overflow:hidden;}
.masterList ul>li.header>.belka>div {height:66px;margin-left:7px;overflow:hidden;color:#ffffff;}
.masterList ul>li.header>.belka>div>.top {padding-top:1px;height:20px;overflow:hidden;font: normal 10px/20px Tahoma;text-transform:uppercase;}
.masterList ul>li.header>.belka>div>.top>.name {display:block;float:left;padding-left:5px;}
.masterList ul>li.header>.belka>div>.top>.action {float:right;margin-right:12px;overflow:hidden; white-space:nowrap;}
.masterList ul>li.header>.belka>div>.top>.action>a {color:#ffffff;margin:0 6px;}
.masterList ul>li.header>.belka>div>.bottom {height:39px;margin-bottom:6px;overflow:hidden;color:#ffffff;font: bold 18px/35px Tahoma;}
.masterList ul>li.header>.belka>div>.bottom>.checkbox {float:left;width:16px;height:16px;margin:10px 0 0 5px;background:url('../image/master_list/checkboxBg.png') no-repeat right top;}
.masterList ul>li.header>.belka>div>.bottom>.checkbox.on {background:url('../image/master_list/checkboxOnBg.png') no-repeat right top;}
.masterList ul>li.header>.belka>div>.bottom>.title {float:left; white-space:nowrap; margin-left:12px;}
.masterList ul>li.header>.belka>div>.bottom>.title>.error {clear:both;font-size:11px;color:#EF0509;font-weight:normal;line-height:14px;}
.masterList ul>li.header>.zr {position:absolute; cursor:pointer; right:0px; bottom:6px; width:111px; height:21px; background:url('../image/master_list/buttons.png') no-repeat right top;}
.masterList ul>li.header>.zr.open {background:url('../image/master_list/buttons.png') no-repeat right -21px;}
.masterList ul.level1 {}
.masterList ul.level1>li.header {}
.masterList ul.level1>li.header>div.belka {background: url('../image/master_list/listItemBgLeft.png') no-repeat left top;}
.masterList ul.level1>li.header>div.belka>div {background: url('../image/master_list/listItemBgRight.png') no-repeat right top;}
.masterList ul.level2 {}
.masterList ul.level2>li.header {}
.masterList ul.level2>li.header>div.belka {background: url('../image/master_list/listItemBgLeft.png') no-repeat left -66px;}
.masterList ul.level2>li.header>div.belka>div {background: url('../image/master_list/listItemBgRight.png') no-repeat right -66px;}
.masterList ul.level2>li.header>div.belka>div>.bottom>.title {font:bold 17px/36px Tahoma;}
.masterList ul.level3 {}
.masterList ul.level3>li.header {}
.masterList ul.level3>li.header>div.belka {background: url('../image/master_list/listItemBgLeft.png') no-repeat left -132px;}
.masterList ul.level3>li.header>div.belka>div {background: url('../image/master_list/listItemBgRight.png') no-repeat right -132px;}
.masterList ul.level3>li.header>div.belka>div>.bottom {color:#0e0e0e;}
.masterList ul.level3>li.header>div.belka>div>.bottom>.title {font:bold 16px/36px Tahoma;}
.masterList ul.level4 {}
.masterList ul.level4>li.header {}
.masterList ul.level4>li.header>div.belka {background: url('../image/master_list/listItemBgLeft.png') no-repeat left -198px;}
.masterList ul.level4>li.header>div.belka>div {background: url('../image/master_list/listItemBgRight.png') no-repeat right -198px; color:#0e0e0e;}
.masterList ul.level4>li.header>div.belka>div>.bottom {color:#0e0e0e;}
.masterList ul.level4>li.header>div.belka>div>.bottom>.title {font:bold 15px/36px Tahoma;}
.masterList li.header .fRename {position:relative;width:130px;float:left; height:23px; margin:8px 0 0 0px; background:url('../image/input_bgRight.png') no-repeat right top;}
.masterList li.header .fRename>span {float:left; height:17px; padding: 3px 8px 3px 8px; background:url('../image/input_bgLeft.png') no-repeat left top;}
.masterList li.header .fRename>span>input {float:left; width:100%; height:17px; line-height:17px; border:0 none; margin:0; padding:0; font-family:Tahoma; font-size:11px; color:#4b4b4b;}

.masterList ul>li.items {float:left;width:100%;overflow:hidden;}
.masterList ul>li.items>table {width:100%;}
.masterList ul>li.items>table tr>th {height:23px;padding:5px 0;border-left:3px solid #fff;border-right:3px solid #fff;color:#ffffff;font-weight:bold; text-transform:uppercase; background:url('../image/master_list/th_bgRight.png') no-repeat right 5px;}
.masterList ul>li.items>table tr>th.first {border-left:0 none;}
.masterList ul>li.items>table tr>th.last {border-right:0 none;}
.masterList ul>li.items>table tr>th>span {display:block;height:23px;line-height:23px;padding:0px 15px 0 15px;background:url('../image/master_list/th_bgLeft.png') no-repeat left 0px;}
.masterList ul>li.items>table>tbody {}
.masterList ul>li.items>table>tbody>tr {}
.masterList ul>li.items>table>tbody>tr:nth-child(even) {background-color:#f0f0f0;}
.masterList ul>li.items>table tr>td {padding:5px 8px;border-bottom:1px solid #030303;}
.masterList ul>li.items>table tr:first-child>td {border-top:1px solid #030303;}
.masterList ul>li.items>table tr>td.info {color:#4b4b4b;}
.masterList ul>li.items>table tr>td.info>div {line-height:12px;}
.masterList ul>li.items>table tr>td.info span {color:#000000;}
.masterList ul>li.items>table tr>td.info span.user {color:#333333;font-size:11px;}
.masterList ul>li.items>table tr>td.info span.user>span {color:#ff0000;}
.masterList ul>li.items>table tr>td.buttons>div {margin:0 0 0 4px;}
.masterList ul>li.items>table tr>td.buttons>div>a {margin:0 0 4px 0;}
.masterList ul>li.items>table tr>td.buttons>div>a.last {margin:0;}

.masterList ul>li.items>table .move {z-index:1;cursor: move; opacity: .70;filter:Alpha(Opacity=70); position:relative;top:-6px;left:-8px; float:left; height:24px; width:24px; background: #D1CDCD url('../image/ico_move.png') no-repeat 5px 4px; border:1px solid #030303;}
.masterList ul>li.items>table .move:hover {opacity: 1;filter:Alpha(Opacity=100);}
.masterList ul>li.items>table .title {float:left;}
.masterList ul>li.items>table tr.ui-sortable-helper {border:0;background-color:#ffffff;}
.masterList ul>li.items>table tr.ui-sortable-helper>td {border-top:1px solid #030303;border-bottom:1px solid #030303;}
.masterList ul>li.items>table tr.placeholder {border-top:1px solid #030303;border-bottom:1px solid #030303;background-color:#ffffcc !important;}
.masterList ul>li.items>table a:hover {color:#cc6600;}
.masterList ul>li.items img {border:1px solid #000000;}
.masterList ul>li.items .fRename {overflow:hidden;float:none !important;margin-right:10px;border-top:0 none;border-left:1px solid #bfbebd;border-right:0 none;border-bottom:1px solid #eaeae9;padding:5px 7px 3px 7px;font:normal 12px/14px Tahoma;background:url('../image/fieldsBg.png') no-repeat right top;}
.masterList ul>li.items .fRename>input {border:0 none;width:100%;color:#4B4B4B;font:normal 12px/14px Tahoma;}
.masterList ul>li.items *.buttons {margin:5px 0 0 0;}
.masterList ul>li.items *.buttons>.btnSmall {margin-right:3px;}


/*********************************************************************************************************
*** List - Sortable
*********************************************************************************************************/
.sortableList ul {position:relative;overflow:hidden;}
.sortableList ul>li {margin:1px 0;position:relative;border:1px solid #000000;overflow:hidden;}
.sortableList ul>li.ui-sortable-helper {border-top:1px solid #000000;}
.sortableList ul>li.placeholder {height:24px;width:100%; padding:0;margin:1px 0;background-color:#FCEFA1; border:1px solid #000000;}

.sortableList ul>li>.menu {z-index:2;position:absolute; top:0; left:24px; right:0; height:24px;}
.sortableList ul>li>.menu>.btn {z-index:3; position:absolute; bottom:0; left:0; right:0;  height:24px; line-height:24px; margin:0 5px; text-align:right; color:#252525;}
.sortableList ul>li>.menu>.btn>a {cursor:pointer; height:24px; margin: 0 5px; line-height:24px;padding: 0; font-size:11px; color:#252525;}
.sortableList ul>li>.menu>.btn>a:hover {color:#D08313;}
.sortableList ul>li>.menu>.btn>.delete {background:url('../image/iconTrash.png') no-repeat right 5px; color:red;}
.sortableList ul>li>.menu>.btn>.edit { padding-right:0px;}

.sortableList ul>li>.move.on {z-index:1;cursor: move; opacity: .70;filter:Alpha(Opacity=70); position:relative; float:left; height:24px; width:24px; background: #D1CDCD url('../image/ico_move.png') no-repeat 5px 4px; border-right:1px solid #000000;}
.sortableList ul>li>.move.on:hover {opacity: 1;filter:Alpha(Opacity=100);}
.sortableList ul>li>.move.off {z-index:1;position:relative; float:left; height:24px; width:24px; background-color: #D1CDCD; border-right:1px solid #000000;}
.sortableList ul>li>.name {z-index:1;position:relative;overflow:hidden; padding-left:5px; height:24px; line-height:24px; color:#252525;}


/*********************************************************************************************************
*** Panel - Left - Site Structure
*********************************************************************************************************/
ul.panelLeft {overflow:hidden;border:1px solid #000000;padding:12px 7px;}
ul.panelLeft>li {padding-top:10px;}
ul.panelLeft>li.line {height:1px;overflow:hidden;padding:0px 0 0px 0;background: url('../image/treepage/line.png') no-repeat right top;}
ul.panelLeft>li.title {width:100%;height:23px; margin:0; padding:0; border:0 none; font:12px/21px Tahoma; text-align:center;text-transform:uppercase;color:#ffffff;background:url('../image/menuLeft_TitleBg.png') no-repeat left top;}

.tabTreePage {color:#333333;font-size:11px;}
.tabTreePage>tbody>tr>td>table>tbody tr>td {vertical-align:top;padding-bottom:3px;}
.tabTreePage>tbody>tr>td>table>tbody tr>td.title {padding-left:5px;vertical-align:top;}
.tabTreePage>tbody>tr>td>table>tbody tr>td.title>a {display:block;margin:2px 0;}
.tabTreePage>tbody>tr>td>table>tbody tr>td.icon {width:32px;background: url('../image/treepage/snoactiv.png') no-repeat right top;}
.tabTreePage>tbody>tr>td>table>tbody tr>td.icon.first {width:16px;}
.tabTreePage>tbody>tr>td>table>tbody tr>td.icon.activ {padding-bottom:10px;background: url('../image/treepage/sactiv2.png') no-repeat right top;}
.tabTreePage>tbody>tr>td>table>tbody tr>td.icon a {width:16px;height:16px;display:block;}
.tabTreePage a {color:#454e53;}
.tabTreePage a.activ {color:#a32929;}
.tabTreePage a.current,
.tabTreePage a:hover {color:#cc6600;}

.tabTreeMenu {color:#333333;font-size:11px;}
.tabTreeMenu>tbody>tr>td>table>tbody tr>td {vertical-align:top;padding-bottom:3px;}
.tabTreeMenu>tbody>tr>td>table>tbody tr>td.icon {width:16px;background: url('../image/treepage/activ.png') no-repeat center top;}
.tabTreeMenu>tbody>tr>td>table>tbody tr>td.icon.iblocked {background: url('../image/treepage/blocked.png') no-repeat center top;}
.tabTreeMenu>tbody>tr>td>table>tbody tr>td.icon.ihidden {background: url('../image/treepage/hidden.png') no-repeat center top;}
.tabTreeMenu>tbody>tr>td>table>tbody tr>td.title {padding-left:5px;vertical-align:middle;}
.tabTreeMenu a {color:#454e53;}
.tabTreeMenu a.current,
.tabTreeMenu a:hover {color: #cc6600;}


/*********************************************************************************************************
*** Panel - Left
*********************************************************************************************************/
ul.panelLeft {overflow:hidden;border:1px solid #000000;padding:12px 7px;}
ul.panelLeft>li {padding-top:10px;}
ul.panelLeft>li.line {height:1px;overflow:hidden;padding:0px 0 0px 0;background: url('../image/tree/line.png') no-repeat right top;}
ul.panelLeft>li.title {width:100%;height:23px; margin:0; padding:0; border:0 none; font:12px/21px Tahoma; text-align:center;text-transform:uppercase;color:#ffffff;background:url('../image/menuLeft_TitleBg.png') no-repeat left top;}


/*********************************************************************************************************
*** Structure
*********************************************************************************************************/
.structurePath {color:#333333;font-size:11px;}
.structurePath>tbody>tr>td>table>tbody tr>td {vertical-align:top;padding-bottom:3px;}
.structurePath>tbody>tr>td>table>tbody tr>td.title {padding-left:5px;vertical-align:top;}
.structurePath>tbody>tr>td>table>tbody tr>td.title>a {display:block;margin:2px 0;}
.structurePath>tbody>tr>td>table>tbody tr>td.icon {width:32px;}
.structurePath>tbody>tr>td>table>tbody tr>td.icon.current {padding-bottom:10px;}
.structurePath>tbody>tr>td>table>tbody tr>td.icon.folder {background: url('../image/tree/pathFolder.png') no-repeat right top;}
.structurePath>tbody>tr>td>table>tbody tr>td.icon.folderDisabled {background: url('../image/tree/pathFolderDisabled.png') no-repeat right top;}
.structurePath>tbody>tr>td>table>tbody tr>td.icon.blogTopic {background: url('../image/tree/pathBlogTopic.png') no-repeat right top;}
.structurePath>tbody>tr>td>table>tbody tr>td.icon.blogTopicDisabled {background: url('../image/tree/pathBlogTopicDisabled.png') no-repeat right top;}
.structurePath>tbody>tr>td>table>tbody tr>td.icon.first {width:16px;}
.structurePath>tbody>tr>td>table>tbody tr>td.icon a {width:16px;height:16px;display:block;}
.structurePath a {color:#454e53;}
.structurePath a.activ {color:#a32929;}
.structurePath a.edit,
.structurePath a:hover {color: #a05901;}

.structureItems {color:#333333;font-size:11px;}
.structureItems>tbody>tr>td>table>tbody tr>td {vertical-align:top;padding-bottom:3px;}
.structureItems>tbody>tr>td>table>tbody tr>td.icon {width:16px;}
.structureItems>tbody>tr>td>table>tbody tr>td.icon.folder {background: url('../image/tree/itemFolder.png') no-repeat center top;}
.structureItems>tbody>tr>td>table>tbody tr>td.icon.folderDisabled {background: url('../image/tree/itemFolderDisabled.png') no-repeat center top;}
.structureItems>tbody>tr>td>table>tbody tr>td.icon.article {background: url('../image/tree/itemArticle.png') no-repeat center top;}
.structureItems>tbody>tr>td>table>tbody tr>td.icon.articleDisabled {background: url('../image/tree/itemArticleDisabled.png') no-repeat center top;}
.structureItems>tbody>tr>td>table>tbody tr>td.icon.photo {background: url('../image/tree/itemPhoto.png') no-repeat center top;}
.structureItems>tbody>tr>td>table>tbody tr>td.icon.photoDisabled {background: url('../image/tree/itemPhotoDisabled.png') no-repeat center top;}
.structureItems>tbody>tr>td>table>tbody tr>td.icon.tpl {background: url('../image/tree/itemTpl.png') no-repeat center top;}
.structureItems>tbody>tr>td>table>tbody tr>td.icon.tplDisabled {background: url('../image/tree/itemTplDisabled.png') no-repeat center top;}
.structureItems>tbody>tr>td>table>tbody tr>td.icon.blogTopic {background: url('../image/tree/itemBlogTopic.png') no-repeat center top;}
.structureItems>tbody>tr>td>table>tbody tr>td.icon.blogTopicDisabled {background: url('../image/tree/itemBlogTopicDisabled.png') no-repeat center top;}
.structureItems>tbody>tr>td>table>tbody tr>td.icon.blogTopicContent {background: url('../image/tree/itemBlogTopicContent.png') no-repeat center top;}
.structureItems>tbody>tr>td>table>tbody tr>td.icon.blogTopicContentDisabled {background: url('../image/tree/itemBlogTopicContentDisabled.png') no-repeat center top;}
.structureItems>tbody>tr>td>table>tbody tr>td.title {padding-left:5px;vertical-align:middle;}
.structureItems a {color:#454e53;}
.structureItems a.edit,
.structureItems a:hover {color: #a05901;}


/*********************************************************************************************************
*** Form - Standard
*********************************************************************************************************/
form.standard {}
form.standard fieldset {clear:both;margin-bottom:8px;position:relative;min-height:23px;line-height:23px;}
form.standard fieldset>label {display:block;float:left;width:150px;margin:4px 5px 0 0;color:#4b4b4b;font:normal 12px/14px Tahoma;text-align:right;}
form.standard div>.fName {display:block;float:left;width:150px;margin:4px 10px 0 0;color:#4b4b4b;font:normal 12px/14px Tahoma;text-align:right;}
form.standard fieldset>input[type=text],
form.standard fieldset>input[type=password],
form.standard fieldset>.fFile {width:100px;height:14px;margin:0 5px;}
form.standard fieldset>textarea {height:50px;margin:0 5px;}
form.standard fieldset>input[type=text],
form.standard fieldset>input[type=password],
form.standard fieldset>.fFile,
form.standard fieldset>textarea {border-top:0 none;border-left:1px solid #bfbebd;border-right:0 none;border-bottom:1px solid #eaeae9;padding:5px 7px 3px 7px;color:#4B4B4B;font:normal 12px/14px Tahoma;background:url('../image/fieldsBg.png') no-repeat right top;}
form.standard fieldset>select {margin:0 5px;color:#4B4B4B;font-family: Tahoma;font-size:12px;}
form.standard fieldset button {height:17px !important;padding:2px 8px;cursor:pointer;background:none !important;}
form.standard fieldset .error {clear:both;color:#c00000;font:10px/11px Tahoma;margin-left:160px;}

form.standard .fFile {position:relative;float:left;}
form.standard .fFile>span2 {float:left; height:17px; line-height:17px; padding: 3px 8px 3px 8px; color:#4b4b4b; background:url('../image/input_bgLeft.png') no-repeat left top;}
form.standard .fFile>span.progress {height:23px; width:100%; padding: 0;}
form.standard .fFile>span.progress> img {height:23px;width:0px;}
form.standard .fFile>div.percentage {position:absolute; left:43%; top:6px; margin:0 auto; color:#4b4b4b; font-size:20px;}
form.standard .fFile>span>input {width:100%; height:17px; line-height:17px; border:0 none; margin:0; padding:0; font-family:Tahoma; color:#4b4b4b;}
form.standard .fFile .btnFile{position:absolute; top:1px;right:0;padding:0;margin:0;}

/*********************************************************************************************************
*** Form - Search
*********************************************************************************************************/
form.search {}
form.search fieldset {margin:0 19px 5px 19px;}
form.search fieldset {clear:both;margin-bottom:10px;position:relative;min-height:23px;line-height:23px;}
form.search fieldset label {display:block;margin-bottom:4px;padding:0 0 2px 28px;border-bottom:1px solid #acacac;color:#000000;font:normal 12px/14px Tahoma;text-align:left;}
form.search fieldset input[type=text] {width:182px;height:14px;margin:0 10px;padding:5px 7px 3px 7px;}
form.search fieldset input[type=text] {border-top:0 none;border-left:1px solid #bfbebd;border-right:0 none;border-bottom:1px solid #eaeae9;color:#4B4B4B;font:normal 12px/14px Tahoma;background:url('../image/fieldsBg.png') no-repeat right top;}
form.search fieldset select {width:196px;margin:0 10px;color:#4B4B4B;font-family: Tahoma;font-size:12px;}


/*********************************************************************************************************
*** Paging
*********************************************************************************************************/
div.paging {text-align:right;font-weight:bold;padding:6px 5px;}
div.paging > a {color:#000000; padding:2px 4px;}
div.paging > a.item {color:#000000; padding:2px 1px;}
div.paging > a.current {color:#696969;}
div.paging > a > span {font-size:11px; }


/*********************************************************************************************************
*** Window popup
*********************************************************************************************************/
.overlay {z-index:998; position:absolute; top:0; left:0; width:100%; height:100%; background-color: #000000; }
.window {z-index:999; border: 1px solid orange;}
.window>.title {height:64px; font: 17px/64px Impact; padding-left:75px; color:orange; background: #000000 url('../image/wilk.png') no-repeat 12px 7px;}
.window>.content {min-height:50px; height:50px; padding:20px; background: #ffffff url('../image/window_contentBg.png') no-repeat right bottom;}


/*** SWFUpload Object Styles ***/
.swfupload {vertical-align: top;}







.sectionTitle {color:#626060; font: bold 16px Tahoma; text-transform:uppercase;}
.sectionTitle.borderBottom {padding-bottom:5px;border-bottom:1px solid #000000;}

/*** Accordian ***/
ul.accordian {margin-top:8px;}
ul.accordian>li.items {padding-top:6px;}
ul.accordian>li.header {position:relative;width:100%;height:66px; background:url('../image/accordian_LeftBg.png') no-repeat left top;}
ul.accordian>li.header>div {width:100%; height:66px; background:url('../image/accordian_RightBg.png') no-repeat right top;}
ul.accordian>li.header>div>.title {float:left; white-space:nowrap; margin-left:15px; padding-top:19px;color:#ffffff;font:bold 20px Tahoma;}
ul.accordian>li.header>div.zr {position:absolute; cursor:pointer; right:10px; bottom:8px; width:57px; height:13px; background:url('../image/rozwin.png') no-repeat right top;}
ul.accordian>li.header>div.zr.open {background:url('../image/zwin.png') no-repeat right top;}

/*** Accordian Header Gallery ***/
ul.accordian.gallery>li.header>div>.checkbox {float:left;width:16px;height:16px;margin:23px 0 0 15px;background:url('../image/accordian_CheckboxBg.png') no-repeat right top;}
ul.accordian.gallery>li.header>div>.checkbox.on {background:url('../image/accordian_CheckboxOnBg.png') no-repeat right top;}
ul.accordian.gallery>li.header>div>.title {float:left; width:50%; white-space:nowrap; overflow:hidden; margin-left:15px; padding-top:19px;color:#ffffff;font:bold 20px Tahoma;}
ul.accordian.gallery>li.header>div>.size {float:right; white-space:nowrap; width:10%; padding:20px 35px 0 15px;color:#ffffff;font:bold 14px Tahoma;}
ul.accordian.gallery>li.header>div>.size>span {font:bold 18px Tahoma;}
ul.accordian.gallery>li.header>div>.action {float:right; margin-right:30px;margin-top:0px; overflow:hidden; white-space:nowrap;}
ul.accordian.gallery>li.header>div>.action>span {display:block;margin-top:7px;margin-bottom:4px;font-size:12px; font-weight:bold;}
ul.accordian.gallery>li.header>div>.action>a {line-height:22px;color:#000000;font-size:11px;}





.error{border-color:red}
.error:focus {border-color:red}

form.standard .fInput2 {}
form.standard .fName2 {float:left; height:23px; padding-right:10px; line-height:23px; color:#4b4b4b; text-align:right;}
form.standard .fInput2 {position:relative;float:left; height:23px; background:url('../image/input_bgRight.png') no-repeat right top;}
form.standard .fInput2>span {float:left; height:17px; padding: 3px 8px 3px 8px; background:url('../image/input_bgLeft.png') no-repeat left top;}
form.standard .fInput2>span>input {width:100%; height:17px; line-height:17px; border:0 none; margin:0; padding:0; font-family:Tahoma; color:#4b4b4b;}



form.new {}
form.new div.item .ui-state-error-text {top:-1px; left:4px; position:relative; padding:0;}

form.new div.group_2>div.c1 {float:left;width:49%;margin-right:2%;}
form.new div.group_2>div.c2 {float:left;clear:none;width:49%;}

form.new div.group_3>div.c1 {float:left;width:32%;margin-right:2%;}
form.new div.group_3>div.c2 {float:left;clear:none;width:32%;margin-right:2%;}
form.new div.group_3>div.c3 {float:left;clear:none;width:32%;}

form.new div.group_66-33 {clear:both;overflow: hidden;}
form.new div.group_66-33>div.c1 {float:left;width:38%;margin-right:2%;}
form.new div.group_66-33>div.c2 {float:left;clear:none;width:60%;}
form.new div.group_66-33 .ui-state-error-text {top:-5px; left:4px; position:relative; padding:0;}

form.new .ui-state-error>select {background:#FEF1EC;}
form.new div.disabled>select {background:#f0f0f0;}

/*** Gallery Edit ***/
.editGalleryList {position:relative; margin-top:12px;}
.editGalleryList>li {cursor:pointer;display:block;position:relative;float:left; width:112px; height:112px; margin:0 7px 7px 0; border:1px solid #000000;}
.editGalleryList>li.placeholder {padding:0;background-color:#FCEFA1;border:1px dotted orange;}
.editGalleryList>li.activ {border:1px solid #ac0c0c;}
.editGalleryList>li>.move {z-index:2;cursor: move; opacity: .70;filter:Alpha(Opacity=70); position:absolute; top:0; left:0; height:20px; width:20px; background: #D1CDCD url('../image/ico_move.png') no-repeat 3px 2px; border-right:1px solid #000000; border-bottom:1px solid #000000;}
.editGalleryList>li>.move:hover {opacity: 1;filter:Alpha(Opacity=100);}
.editGalleryList>li>.menu {cursor:default; position:absolute; bottom:0; left:0; width:100%; height:24px; display:none;}
.editGalleryList>li>.menu>.bg {z-index:1;position:absolute; bottom:0; left:0; width:100%; height:24px; background-color: #000000;}
.editGalleryList>li>.menu>.btn {z-index:2;position:absolute; bottom:0; left:0; right:0; height:24px; line-height:24px; margin:0 5px; text-align:right;}
.editGalleryList>li>.menu>.btn2 {z-index:2;position:absolute; bottom:0; left:0; right:0; height:24px; line-height:22px; padding:0 20px; margin:0 5px; text-align:right; font-size:11px; color:#ffffff;background:url('../image/iconTrash.png') no-repeat right 5px;}
.editGalleryList>li>.menu>.btn>.delete {cursor:pointer;float:right; padding-right:20px; font-size:11px; color:#ffffff;background:url('../image/iconTrash.png') no-repeat right 5px;}

/*** Table Accordian ***/
table.items {width:100%;}
table.items tr>th {height:29px;border-right:11px solid #fff;color:#ffffff;font-weight:bold; text-transform:uppercase; background:url('../image/th_bgRight.png') no-repeat right 6px;}
table.items tr>th.last {border:0 none;}
table.items tr>th>span {display:block;height:23px;line-height:22px;padding:6px 15px 0 15px;background:url('../image/th_bgLeft.png') no-repeat left 6px;}
table.items>tbody>tr>td {padding:6px 21px 6px 10px; border-bottom:1px solid #000;}
table.items>tbody>tr>td.last {padding-right:0;}
table.items>tbody>tr>td.info {color:#4b4b4b;line-height:20px;}
table.items>tbody>tr>td.info span {color:#000000;}
table.items>tbody>tr>td.info span.user {color:#4b4b4b;font-size:11px;}
table.items>tbody>tr>td.info span.user>span {color:#ff0000;}
table.items>tbody>tr>td.buttons>div {margin:0;}
table.items>tbody>tr>td.buttons>div>a {margin:0 0 8px 0;}
table.items>tbody>tr>td.buttons>div>a.last {margin:0;}
table.items>tbody>tr {}

/*** GALLERY Table Accordian ***/
table.items.galleryList>tbody>tr>td.thumbnail>img {border:1px solid #000000;}