<?xml version="1.0" encoding="utf-8"?>
<configdata>
	<tpl name="loginPanel.tpl">
		<files public_path="/asset/admin/user/loginPanel">
			<css>style.css</css>
			<image>bg.png</image>
			<image>windowTop.png</image>
			<image>windowBottom.png</image>
			<image>loginZapytanie.png</image>
			<image>logo.png</image>
		</files>
	</tpl>
</configdata>