/*********************************************************************************************************
*** Language - selectLanguage
*********************************************************************************************************/
.adminSelectLanguage {min-width:100px;}
.adminSelectLanguage>.name {float:left;margin:0 8px 0 0;font:bold 12px/24px Tahoma;color:#FFA313;}
.adminSelectLanguage>dl {float:left;width:auto;font:bold 12px/24px Tahoma;}
.adminSelectLanguage>dl>dt {overflow:hidden;width:auto;height:24px;margin:0;padding:0;border:1px solid #000000;}
.adminSelectLanguage>dl>dt>a {display:block;height:24px;color:#ffffff;}
.adminSelectLanguage>dl>dt>a>span.flag {display:block;float:left;width:32px;height:24px;border-right:1px solid #000000;text-align:center;background:transparent url('../image/flagBg.png') no-repeat left top;}
.adminSelectLanguage>dl>dt>a>span.name {display:block;float:left;overflow:hidden;height:24px;padding:0 8px;border-right:1px solid #000000;line-height:24px;background:transparent url('../image/nameBg.png') no-repeat left top;}
.adminSelectLanguage>dl>dt>a>span.arrow {display:block;float:right;width:23px;height:24px;background:transparent url('../image/arrowBg.png') no-repeat left top;}
.adminSelectLanguage>dl>dd {position:relative;width:100%;margin:0px;padding:0px;}
.adminSelectLanguage>dl>dd>ul {position:absolute;top:0px;left:1px;width:auto;min-width:inherit;margin:0px;padding:0px;display:none;list-style:none;background-color:#2f3131;}
.adminSelectLanguage>dl>dd>ul>li {display:block;width:100%;}
.adminSelectLanguage>dl>dd>ul>li>a {display:block;width:100%;height:24px;border-bottom:1px solid #494b4b;color:#959595;}
.adminSelectLanguage>dl>dd>ul>li>a>span {}
.adminSelectLanguage>dl>dd>ul>li>a>span.flag {display:block;float:left;width:32px;height:24px;padding:0 1px 0 0;border-right:1px solid #494b4b;text-align:center;}
.adminSelectLanguage>dl>dd>ul>li>a>span.name {display:block;overflow:hidden;height:24px;padding:0 8px;line-height:24px;}
.adminSelectLanguage>dl>dd>ul>li>a:hover {color:#ffffff;background-color:#111212;}