#clockbase {
	width: 166px;
	height: 166px;
	position: relative;
	margin: 0 auto;
	background: url('../image/tarcza.png') no-repeat;
}
#minutes {
	width: 166px;
	height: 166px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('../image/minuty.png') no-repeat;
}
#hours {
	width: 166px;
	height: 166px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('../image/godziny.png') no-repeat left bottom;
}
#seconds {
	width: 166px;
	height: 166px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('../image/sekundy.png') no-repeat;

}
#clockbase .min0 {background-position: left top;}
#clockbase .min1 {background-position: left -166px;}
#clockbase .min2 {background-position: left -332px;}
#clockbase .min3 {background-position: left -498px;}
#clockbase .min4 {background-position: left -664px;}
#clockbase .min5 {background-position: left -830px;}
#clockbase .min6 {background-position: left -996px;}
#clockbase .min7 {background-position: left -1162px;}
#clockbase .min8 {background-position: left -1328px;}
#clockbase .min9 {background-position: left -1494px;}
#clockbase .min10 {background-position: left -1660px;}
#clockbase .min11 {background-position: left -1826px;}
#clockbase .min12 {background-position: left -1992px;}
#clockbase .min13 {background-position: left -2158px;}
#clockbase .min14 {background-position: left -2324px;}
#clockbase .min15 {background-position: left -2490px;}
#clockbase .min16 {background-position: left -2656px;}
#clockbase .min17 {background-position: left -2822px;}
#clockbase .min18 {background-position: left -2988px;}
#clockbase .min19 {background-position: left -3154px;}
#clockbase .min20 {background-position: left -3320px;}
#clockbase .min21 {background-position: left -3486px;}
#clockbase .min22 {background-position: left -3652px;}
#clockbase .min23 {background-position: left -3818px;}
#clockbase .min24 {background-position: left -3984px;}
#clockbase .min25 {background-position: left -4150px;}
#clockbase .min26 {background-position: left -4316px;}
#clockbase .min27 {background-position: left -4482px;}
#clockbase .min28 {background-position: left -4648px;}
#clockbase .min29 {background-position: left -4814px;}
#clockbase .min30 {background-position: left -4980px;}
#clockbase .min31 {background-position: left -5146px;}
#clockbase .min32 {background-position: left -5312px;}
#clockbase .min33 {background-position: left -5478px;}
#clockbase .min34 {background-position: left -5644px;}
#clockbase .min35 {background-position: left -5810px;}
#clockbase .min36 {background-position: left -5976px;}
#clockbase .min37 {background-position: left -6142px;}
#clockbase .min38 {background-position: left -6308px;}
#clockbase .min39 {background-position: left -6474px;}
#clockbase .min40 {background-position: left -6640px;}
#clockbase .min41 {background-position: left -6806px;}
#clockbase .min42 {background-position: left -6972px;}
#clockbase .min43 {background-position: left -7138px;}
#clockbase .min44 {background-position: left -7304px;}
#clockbase .min45 {background-position: left -7470px;}
#clockbase .min46 {background-position: left -7636px;}
#clockbase .min47 {background-position: left -7802px;}
#clockbase .min48 {background-position: left -7968px;}
#clockbase .min49 {background-position: left -8134px;}
#clockbase .min50 {background-position: left -8300px;}
#clockbase .min51 {background-position: left -8466px;}
#clockbase .min52 {background-position: left -8632px;}
#clockbase .min53 {background-position: left -8798px;}
#clockbase .min54 {background-position: left -8964px;}
#clockbase .min55 {background-position: left -9130px;}
#clockbase .min56 {background-position: left -9296px;}
#clockbase .min57 {background-position: left -9462px;}
#clockbase .min58 {background-position: left -9628px;}
#clockbase .min59 {background-position: left -9794px;}

#clockbase .hr0 {background-position: left top;}
#clockbase .hr1 {background-position: left -166px;}
#clockbase .hr2 {background-position: left -332px;}
#clockbase .hr3 {background-position: left -498px;}
#clockbase .hr4 {background-position: left -664px;}
#clockbase .hr5 {background-position: left -830px;}
#clockbase .hr6 {background-position: left -996px;}
#clockbase .hr7 {background-position: left -1162px;}
#clockbase .hr8 {background-position: left -1328px;}
#clockbase .hr9 {background-position: left -1494px;}
#clockbase .hr10 {background-position: left -1660px;}
#clockbase .hr11 {background-position: left -1826px;}
#clockbase .hr12 {background-position: left -1992px;}
#clockbase .hr13 {background-position: left -2158px;}
#clockbase .hr14 {background-position: left -2324px;}
#clockbase .hr15 {background-position: left -2490px;}
#clockbase .hr16 {background-position: left -2656px;}
#clockbase .hr17 {background-position: left -2822px;}
#clockbase .hr18 {background-position: left -2988px;}
#clockbase .hr19 {background-position: left -3154px;}
#clockbase .hr20 {background-position: left -3320px;}
#clockbase .hr21 {background-position: left -3486px;}
#clockbase .hr22 {background-position: left -3652px;}
#clockbase .hr23 {background-position: left -3818px;}
#clockbase .hr24 {background-position: left -3984px;}
#clockbase .hr25 {background-position: left -4150px;}
#clockbase .hr26 {background-position: left -4316px;}
#clockbase .hr27 {background-position: left -4482px;}
#clockbase .hr28 {background-position: left -4648px;}
#clockbase .hr29 {background-position: left -4814px;}
#clockbase .hr30 {background-position: left -4980px;}
#clockbase .hr31 {background-position: left -5146px;}
#clockbase .hr32 {background-position: left -5312px;}
#clockbase .hr33 {background-position: left -5478px;}
#clockbase .hr34 {background-position: left -5644px;}
#clockbase .hr35 {background-position: left -5810px;}
#clockbase .hr36 {background-position: left -5976px;}
#clockbase .hr37 {background-position: left -6142px;}
#clockbase .hr38 {background-position: left -6308px;}
#clockbase .hr39 {background-position: left -6474px;}
#clockbase .hr40 {background-position: left -6640px;}
#clockbase .hr41 {background-position: left -6806px;}
#clockbase .hr42 {background-position: left -6972px;}
#clockbase .hr43 {background-position: left -7138px;}
#clockbase .hr44 {background-position: left -7304px;}
#clockbase .hr45 {background-position: left -7470px;}
#clockbase .hr46 {background-position: left -7636px;}
#clockbase .hr47 {background-position: left -7802px;}
#clockbase .hr48 {background-position: left -7968px;}
#clockbase .hr49 {background-position: left -8134px;}
#clockbase .hr50 {background-position: left -8300px;}
#clockbase .hr51 {background-position: left -8466px;}
#clockbase .hr52 {background-position: left -8632px;}
#clockbase .hr53 {background-position: left -8798px;}
#clockbase .hr54 {background-position: left -8964px;}
#clockbase .hr55 {background-position: left -9130px;}
#clockbase .hr56 {background-position: left -9296px;}
#clockbase .hr57 {background-position: left -9462px;}
#clockbase .hr58 {background-position: left -9628px;}
#clockbase .hr59 {background-position: left -9794px;}

#clockbase .sec0 {background-position: left top;}
#clockbase .sec1 {background-position: left -166px;}
#clockbase .sec2 {background-position: left -332px;}
#clockbase .sec3 {background-position: left -498px;}
#clockbase .sec4 {background-position: left -664px;}
#clockbase .sec5 {background-position: left -830px;}
#clockbase .sec6 {background-position: left -996px;}
#clockbase .sec7 {background-position: left -1162px;}
#clockbase .sec8 {background-position: left -1328px;}
#clockbase .sec9 {background-position: left -1494px;}
#clockbase .sec10 {background-position: left -1660px;}
#clockbase .sec11 {background-position: left -1826px;}
#clockbase .sec12 {background-position: left -1992px;}
#clockbase .sec13 {background-position: left -2158px;}
#clockbase .sec14 {background-position: left -2324px;}
#clockbase .sec15 {background-position: left -2490px;}
#clockbase .sec16 {background-position: left -2656px;}
#clockbase .sec17 {background-position: left -2822px;}
#clockbase .sec18 {background-position: left -2988px;}
#clockbase .sec19 {background-position: left -3154px;}
#clockbase .sec20 {background-position: left -3320px;}
#clockbase .sec21 {background-position: left -3486px;}
#clockbase .sec22 {background-position: left -3652px;}
#clockbase .sec23 {background-position: left -3818px;}
#clockbase .sec24 {background-position: left -3984px;}
#clockbase .sec25 {background-position: left -4150px;}
#clockbase .sec26 {background-position: left -4316px;}
#clockbase .sec27 {background-position: left -4482px;}
#clockbase .sec28 {background-position: left -4648px;}
#clockbase .sec29 {background-position: left -4814px;}
#clockbase .sec30 {background-position: left -4980px;}
#clockbase .sec31 {background-position: left -5146px;}
#clockbase .sec32 {background-position: left -5312px;}
#clockbase .sec33 {background-position: left -5478px;}
#clockbase .sec34 {background-position: left -5644px;}
#clockbase .sec35 {background-position: left -5810px;}
#clockbase .sec36 {background-position: left -5976px;}
#clockbase .sec37 {background-position: left -6142px;}
#clockbase .sec38 {background-position: left -6308px;}
#clockbase .sec39 {background-position: left -6474px;}
#clockbase .sec40 {background-position: left -6640px;}
#clockbase .sec41 {background-position: left -6806px;}
#clockbase .sec42 {background-position: left -6972px;}
#clockbase .sec43 {background-position: left -7138px;}
#clockbase .sec44 {background-position: left -7304px;}
#clockbase .sec45 {background-position: left -7470px;}
#clockbase .sec46 {background-position: left -7636px;}
#clockbase .sec47 {background-position: left -7802px;}
#clockbase .sec48 {background-position: left -7968px;}
#clockbase .sec49 {background-position: left -8134px;}
#clockbase .sec50 {background-position: left -8300px;}
#clockbase .sec51 {background-position: left -8466px;}
#clockbase .sec52 {background-position: left -8632px;}
#clockbase .sec53 {background-position: left -8798px;}
#clockbase .sec54 {background-position: left -8964px;}
#clockbase .sec55 {background-position: left -9130px;}
#clockbase .sec56 {background-position: left -9296px;}
#clockbase .sec57 {background-position: left -9462px;}
#clockbase .sec58 {background-position: left -9628px;}
#clockbase .sec59 {background-position: left -9794px;}

/*--Replaced the PNG with a GIF for IE6--*/
*html #minutes {
	background: url(minutes-arm.gif) no-repeat;
}
*html #hours {
	background: url(hours-arm.gif) no-repeat left bottom;
}